<a href="https://colab.research.google.com/github/wjdwnsgur96/class2022Spring/blob/main/20220322%2C0324.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Importing libraries

In [ ]:
import pandas as pd

### Loading csv file

In [ ]:
df = pd.read_csv("https://download.mlcc.google.com/mledu-datasets/california_housing_train.csv", sep=",")
df

#csv=엑셀 파일, csv파일을 read하여 df라는 변수로 변환시키는 명령어
#df=데이터프레임(data frame)
#csv파일을 이용하여 df를 만드는 것이 가장 편리하고 보편적인 방법

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

In [ ]:
print(df.size); print(df.ndim); print(df.shape)

#ndim=몇차원인가, 여기에서는 2차원 (행이 하나의 차원, 열 또한 하나의 차원, 합해서 2차원)
#size=총 셀의 갯수, 여기서는 17000x9의 셀 = 153000
#shape=구성방식, 여기서는 17000개의 행, 9개의 열

153000
2
(17000, 9)

In [ ]:
df.describe()
#std=표준편차 (standard deviation)
#df.describe=df의 기본적인 통계정보를 제공

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000
mean,-119.562108,35.625225,28.589353,2643.664412,539.410824,1429.573941,501.221941,3.883578,207300.912353
std,2.005166,2.137340,12.586937,2179.947071,421.499452,1147.852959,384.520841,1.908157,115983.764387
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.790000,33.930000,18.000000,1462.000000,297.000000,790.000000,282.000000,2.566375,119400.000000
50%,-118.490000,34.250000,29.000000,2127.000000,434.000000,1167.000000,409.000000,3.544600,180400.000000
75%,-118.000000,37.720000,37.000000,3151.250000,648.250000,1721.000000,605.250000,4.767000,265000.000000
max,-114.310000,41.950000,52.000000,37937.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

### Saving to CSV

In [ ]:
df.to_csv('california_housing_train.csv')
#csv는 데이터 value만 저장한다.
#pandas는 데이터 입출력뿐만 아니라 데이터 변수를 불러들이고 나서 각각의 내용을 자유롭게 수정할 수 있게 해줌.

### Constructing a DataFrame using dict [Dict로 df(데이터프레임) 만들기!]

In [ ]:
# Some input data - a small sample of the iris dataset
data = {'sepal_length': [6.9, 6.9, 4.8, 5.4, 4.6],
        'sepal_width': [3.2, 3.1, 3.4, 3.0, 3.6],
        'petal_length': [5.7, 5.1, 1.9, 4.5, 1.0],
        'petal_width': [2.3, 2.3, 0.2, 1.5, 0.2],
        'species': ['virginica', 'virginica', 'setosa', 'versicolor', 'setosa']}

df = pd.DataFrame(data)
df 

#여기에서 dict는 다섯개가 정의가 되어 있다. 
#각 item에 대해서 colon(:)을 기준으로 구분할 수 있다. (왼쪽에 있는건 key, 오른쪽은 value)
#key는 열의 카테고리, value는 행에 입력된 데이터값으로 생각하면 된다.
#왼쪽(key)은 str의 형태, 오른쪽(value)은 list의 형태
#pd.dataframe(data) 명령어를 통해 위에 적어놓은 key와 value를 데이터프레임화 시킬수 있다.

   sepal_length  sepal_width  petal_length  petal_width     species
0           6.9          3.2           5.7          2.3   virginica
1           6.9          3.1           5.1          2.3   virginica
2           4.8          3.4           1.9          0.2      setosa
3           5.4          3.0           4.5          1.5  versicolor
4           4.6          3.6           1.0          0.2      setosa

### Constructing a DataFrame using pd.Series

In [ ]:
sepal_length = pd.Series([6.9, 6.9, 4.8, 5.4, 4.6])
sepal_width = pd.Series([3.2, 3.1, 3.4, 3.0, 3.6])
petal_length = pd.Series([5.7, 5.1, 1.9, 4.5, 1.0])
petal_width = pd.Series([2.3, 2.3, 0.2, 1.5, 0.2])
species = pd.Series(['virginica', 'virginica', 'setosa', 'versicolor', 'setosa'])

df = pd.DataFrame({'sepal_length': sepal_length, 'sepal_width': sepal_width, 'petal_length': petal_length, 'petal_width': petal_width, 'SPECIES': species})
df

#column에 해당하는 내용을 입력하지 않고 데이터 값만 입력하여 panda의 series 함수를 통해 df 생성 가능.
#내용(value)값만 입력하면 됨.
#Key는 sepal을 앞에 붙여서 정의만 해주면 됨.

   sepal_length  sepal_width  petal_length  petal_width     SPECIES
0           6.9          3.2           5.7          2.3   virginica
1           6.9          3.1           5.1          2.3   virginica
2           4.8          3.4           1.9          0.2      setosa
3           5.4          3.0           4.5          1.5  versicolor
4           4.6          3.6           1.0          0.2      setosa

### Changing column names

In [ ]:
df.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'SPECIES'],
      dtype='object')

In [ ]:
# Change the columns
df.columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']
df

#df의 columns들을 리스트화해서 바꾸고 싶은 column값을 재정의할 수 있다.
#여기서는 'SPECIES'를 'species'로 바꿔서 입력함. 
#결과적으로 column의 'SPECIES'가 'species'로 바뀌어서 df에 나타남.

   sepal_length  sepal_width  petal_length  petal_width     species
0           6.9          3.2           5.7          2.3   virginica
1           6.9          3.1           5.1          2.3   virginica
2           4.8          3.4           1.9          0.2      setosa
3           5.4          3.0           4.5          1.5  versicolor
4           4.6          3.6           1.0          0.2      setosa

### Accessing columns

In [ ]:
# Access one column 
df.loc[:, 'sepal_length']

#개별 column을 수정하고 싶을 때, 개별 column에 access하는 과정.
#loc=타겟 column을 특정하는 명령어
#(:)은 '전부 다'를 지칭하는 명령어, 뒤에 있는 colon index(length)의 전부 다를 가져오라는 명령어
#=모든 row에서 'sepal_length'에 해당하는 column만 가져와라

In [ ]:
# Access one column (short-hand)
df['sepal_length']

#아니면 그냥 df하고 바로 'sepal length' 입력하면 됨.

0    6.9
1    6.9
2    4.8
3    5.4
4    4.6
Name: sepal_length, dtype: float64

In [ ]:
# Access one column (shortest-hand)
df.sepal_length

#가장 간편한 방법

In [ ]:
# Access two columns
df.loc[:, ['sepal_length', 'sepal_width']]

#두개의 columns를 가져오고 싶을 때
#그냥 두개 다 쓰면 됨

In [ ]:
# Access two columns (short-hand)
df[['sepal_length', 'sepal_width']]

### Accessing rows

In [ ]:
# Access one row 
df.loc[3, :]

#하나의 Row 정보를 가져오는 방법
#마찬가지로 df.loc를 사용
#여기에선 (:)을 앞이 아닌 뒤에 넣는다.
#=Row 3에서 모든 column을 가져와라

In [ ]:
# Access two rows
df.loc[[3, 0], :]

#두개의 Row를 가져오는 방법
#마찬가지로 Row 대괄호에 더 찾고 싶은 Row 추가

In [ ]:
# Access a range of rows
df.loc[2:5, :]

#2,3,4 Row를 전체 가져와라

In [ ]:
# Filter keeping only rows with `sepal_length` > 5
df[df.sepal_length > 5]

#'sepal_length'가 5보다 큰 경우만 가져와라

   sepal_length  sepal_width  petal_length  petal_width     species
0           6.9          3.2           5.7          2.3   virginica
1           6.9          3.1           5.1          2.3   virginica
3           5.4          3.0           4.5          1.5  versicolor

### Accessing a cell

In [ ]:
df.loc[:, 'sepal_length'][4]

#df.loc을 이용
#=모든 row에서 'sepal_length' column의 4번 row에 있는 데이터를 선별하여 가져와라

4.6

In [ ]:
df['sepal_length'][4]

4.6

In [ ]:
df.sepal_length[4]

4.6

### Adding/Removing new columns

In [ ]:
df['new_column'] = 1
df

#새로운 column을 추가하는 법, (=) 다음에 새 column에 들어갈 데이터값 입력

,sepal_length,sepal_width,petal_length,petal_width,species,new_column
0,6.9,3.2,5.7,2.3,virginica,1
1,6.9,3.1,5.1,2.3,virginica,1
2,4.8,3.4,1.9,0.2,setosa,1
3,5.4,3.0,4.5,1.5,versicolor,1
4,4.6,3.6,1.0,0.2,setosa,1

In [ ]:
df['new_column'] = [1, 2, 3, 4, 5]
df

,sepal_length,sepal_width,petal_length,petal_width,species,new_column
0,6.9,3.2,5.7,2.3,virginica,1
1,6.9,3.1,5.1,2.3,virginica,2
2,4.8,3.4,1.9,0.2,setosa,3
3,5.4,3.0,4.5,1.5,versicolor,4
4,4.6,3.6,1.0,0.2,setosa,5

In [ ]:
df = df.drop('new_column', axis=1) # axis=1: column
df

#column을 빼는 방법
#axis=1(열축)에서 'new column'을 찾아서 없애라

   sepal_length  sepal_width  petal_length  petal_width     species
0           6.9          3.2           5.7          2.3   virginica
1           6.9          3.1           5.1          2.3   virginica
2           4.8          3.4           1.9          0.2      setosa
3           5.4          3.0           4.5          1.5  versicolor
4           4.6          3.6           1.0          0.2      setosa

### Adding/Removing new rows

In [ ]:
df.loc[5, :] = ''
df

#Row를 추가하는 방법
#Row5를 만들어서 모든 열에 ''(비어있는 값)을 넣어라

  sepal_length sepal_width petal_length petal_width     species
0          6.9         3.2          5.7         2.3   virginica
1          6.9         3.1          5.1         2.3   virginica
2          4.8         3.4          1.9         0.2      setosa
3          5.4         3.0          4.5         1.5  versicolor
4          4.6         3.6          1.0         0.2      setosa
5

In [ ]:
df = df.drop(5, axis=0) # axis=0: row
df

#Row를 제거하는 방법
#df에 axis=0(행축)에 있는 Row 5를 드랍하라

#데이터프레임(df)을 api를 통해 만들고 Gradio로 표시하는 방법

```
# 코드로 형식 지정됨
```

In [ ]:
!pip install gradio
import gradio as gr
import requests
import pandas as pd

Collecting gradio
  Downloading gradio-2.8.14-py3-none-any.whl (668 kB)
     |████████████████████████████████| 668 kB 20.6 MB/s
Collecting ffmpy
  Downloading ffmpy-0.3.0.tar.gz (4.8 kB)
Collecting paramiko
  Downloading paramiko-2.10.3-py2.py3-none-any.whl (211 kB)
     |████████████████████████████████| 211 kB 35.0 MB/s
Collecting markdown-it-py[linkify,plugins]
  Downloading markdown_it_py-2.0.1-py3-none-any.whl (84 kB)
     |████████████████████████████████| 84 kB 3.3 MB/s
Collecting fastapi
  Downloading fastapi-0.75.0-py3-none-any.whl (54 kB)
     |████████████████████████████████| 54 kB 1.6 MB/s
Collecting analytics-python
  Downloading analytics_python-1.4.0-py2.py3-none-any.whl (15 kB)
Collecting pydub
  Downloading pydub-0.25.1-py2.py3-none-any.whl (32 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from gradio) (1.21.5)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from gradio) (3.2.2)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from gradio) (2.23.0)
Collecting pycryptodome
  Downloading pycryptodome-3.14.1-cp35-abi3-manylinux2010_x86_64.whl (2.0 MB)
     |████████████████████████████████| 2.0 MB 46.8 MB/s
Collecting python-multipart
  Downloading python-multipart-0.0.5.tar.gz (32 kB)
Collecting orjson
  Downloading orjson-3.6.7-cp37-cp37m-manylinux_2_24_x86_64.whl (255 kB)
     |████████████████████████████████| 255 kB 46.5 MB/s
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from gradio) (1.3.5)
Requirement already satisfied: pillow in /usr/local/lib/python3.7/dist-packages (from gradio) (7.1.2)
Collecting uvicorn
  Downloading uvicorn-0.17.6-py3-none-any.whl (53 kB)
     |████████████████████████████████| 53 kB 2.5 MB/s
Collecting aiohttp
  Downloading aiohttp-3.8.1-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (1.1 MB)
     |████████████████████████████████| 1.1 MB 39.8 MB/s
Collecting frozenlist>=1.1.1
  Downloading frozenlist-1.3.0-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (144 kB)
     |████████████████████████████████| 144 kB 41.4 MB/s
Collecting async-timeout<5.0,>=4.0.0a3
  Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Collecting asynctest==0.13.0
  Downloading asynctest-0.13.0-py3-none-any.whl (26 kB)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp->gradio) (21.4.0)
Requirement already satisfied: typing-extensions>=3.7.4 in /usr/local/lib/python3.7/dist-packages (from aiohttp->gradio) (3.10.0.2)
Requirement already satisfied: charset-normalizer<3.0,>=2.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp->gradio) (2.0.12)
Collecting aiosignal>=1.1.2
  Downloading aiosignal-1.2.0-py3-none-any.whl (8.2 kB)
Collecting multidict<7.0,>=4.5
  Downloading multidict-6.0.2-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (94 kB)
     |████████████████████████████████| 94 kB 3.9 MB/s
Collecting yarl<2.0,>=1.0
  Downloading yarl-1.7.2-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (271 kB)
     |████████████████████████████████| 271 kB 68.6 MB/s
Requirement already satisfied: idna>=2.0 in /usr/local/lib/python3.7/dist-packages (from yarl<2.0,>=1.0->aiohttp->gradio) (2.10)
Collecting monotonic>=1.5
  Downloading monotonic-1.6-py2.py3-none-any.whl (8.2 kB)
Collecting backoff==1.10.0
  Downloading backoff-1.10.0-py2.py3-none-any.whl (31 kB)
Requirement already satisfied: python-dateutil>2.1 in /usr/local/lib/python3.7/dist-packages (from analytics-python->gradio) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from analytics-python->gradio) (1.15.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->gradio) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->gradio) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->gradio) (2021.10.8)
Collecting pydantic!=1.7,!=1.7.1,!=1.7.2,!=1.7.3,!=1.8,!=1.8.1,<2.0.0,>=1.6.2
  Downloading pydantic-1.9.0-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (10.9 MB)
     |████████████████████████████████| 10.9 MB 61.3 MB/s
Collecting starlette==0.17.1
  Downloading starlette-0.17.1-py3-none-any.whl (58 kB)
     |████████████████████████████████| 58 kB 8.2 MB/s
Collecting anyio<4,>=3.0.0
  Downloading anyio-3.5.0-py3-none-any.whl (79 kB)
     |████████████████████████████████| 79 kB 10.4 MB/s
Collecting sniffio>=1.1
  Downloading sniffio-1.2.0-py3-none-any.whl (10 kB)
Collecting mdurl~=0.1
  Downloading mdurl-0.1.0-py3-none-any.whl (11 kB)
Collecting mdit-py-plugins
  Downloading mdit_py_plugins-0.3.0-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 3.0 MB/s
Collecting linkify-it-py~=1.0
  Downloading linkify_it_py-1.0.3-py3-none-any.whl (19 kB)
Collecting uc-micro-py
  Downloading uc_micro_py-1.0.1-py3-none-any.whl (6.2 kB)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->gradio) (3.0.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->gradio) (1.4.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->gradio) (0.11.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->gradio) (2018.9)
Collecting cryptography>=2.5
  Downloading cryptography-36.0.2-cp36-abi3-manylinux_2_24_x86_64.whl (3.6 MB)
     |████████████████████████████████| 3.6 MB 63.5 MB/s
Collecting pynacl>=1.0.1
  Downloading PyNaCl-1.5.0-cp36-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (856 kB)
     |████████████████████████████████| 856 kB 54.3 MB/s
Collecting bcrypt>=3.1.3
  Downloading bcrypt-3.2.0-cp36-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (61 kB)
     |████████████████████████████████| 61 kB 596 kB/s
Requirement already satisfied: cffi>=1.1 in /usr/local/lib/python3.7/dist-packages (from bcrypt>=3.1.3->paramiko->gradio) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.1->bcrypt>=3.1.3->paramiko->gradio) (2.21)
Collecting asgiref>=3.4.0
  Downloading asgiref-3.5.0-py3-none-any.whl (22 kB)
Collecting h11>=0.8
  Downloading h11-0.13.0-py3-none-any.whl (58 kB)
     |████████████████████████████████| 58 kB 7.3 MB/s
Requirement already satisfied: click>=7.0 in /usr/local/lib/python3.7/dist-packages (from uvicorn->gradio) (7.1.2)
Building wheels for collected packages: ffmpy, python-multipart
  Building wheel for ffmpy (setup.py) ... done
  Created wheel for ffmpy: filename=ffmpy-0.3.0-py3-none-any.whl size=4712 sha256=1ae2496fed75c3434e70784543cd57b61ee7056ec642973ed5394cdd6a35a3fb
  Stored in directory: /root/.cache/pip/wheels/13/e4/6c/e8059816e86796a597c6e6b0d4c880630f51a1fcfa0befd5e6
  Building wheel for python-multipart (setup.py) ... done
  Created wheel for python-multipart: filename=python_multipart-0.0.5-py3-none-any.whl size=31678 sha256=ff0b299f3838db757a4331d45cdda5195c316bf019f6905fd7b86e450c785794
  Stored in directory: /root/.cache/pip/wheels/2c/41/7c/bfd1c180534ffdcc0972f78c5758f89881602175d48a8bcd2c
Successfully built ffmpy python-multipart
Installing collected packages: sniffio, mdurl, uc-micro-py, multidict, markdown-it-py, frozenlist, anyio, yarl, starlette, pynacl, pydantic, monotonic, mdit-py-plugins, linkify-it-py, h11, cryptography, bcrypt, backoff, asynctest, async-timeout, asgiref, aiosignal, uvicorn, python-multipart, pydub, pycryptodome, paramiko, orjson, ffmpy, fastapi, analytics-python, aiohttp, gradio
Successfully installed aiohttp-3.8.1 aiosignal-1.2.0 analytics-python-1.4.0 anyio-3.5.0 asgiref-3.5.0 async-timeout-4.0.2 asynctest-0.13.0 backoff-1.10.0 bcrypt-3.2.0 cryptography-36.0.2 fastapi-0.75.0 ffmpy-0.3.0 frozenlist-1.3.0 gradio-2.8.14 h11-0.13.0 linkify-it-py-1.0.3 markdown-it-py-2.0.1 mdit-py-plugins-0.3.0 mdurl-0.1.0 monotonic-1.6 multidict-6.0.2 orjson-3.6.7 paramiko-2.10.3 pycryptodome-3.14.1 pydantic-1.9.0 pydub-0.25.1 pynacl-1.5.0 python-multipart-0.0.5 sniffio-1.2.0 starlette-0.17.1 uc-micro-py-1.0.1 uvicorn-0.17.6 yarl-1.7.2

In [ ]:
requests.get('http://apis.data.go.kr/B552584/ArpltnStatsSvc/getCtprvnMesureSidoLIst?sidoName=서울&searchCondition=hour&pageNo=1&numOfRows=100&returnType=json&serviceKey=miH%2BZXg85lQy4%2FkmhffvygXDIFiTwisriSLxtyECSzw6hxTVK7yI8QKIOc7mP7LEqCnhBGuj6iW1gZW65dum7A%3D%3D')

<Response [200]> = 요청이 정상적으로 수행됐다는 것을 의미함

In [ ]:
URL = ('http://apis.data.go.kr/B552584/ArpltnStatsSvc/'
      'getCtprvnMesureSidoLIst?'
      'sidoName=서울'
      '&searchCondition=hour'
      '&pageNo=1'
      '&numOfRows=100'
      '&returnType=json'
      '&serviceKey=miH%2BZXg85lQy4%2FkmhffvygXDIFiTwisriSLxtyECSzw6hxTVK7yI8QKIOc7mP7LEqCnhBGuj6iW1gZW65dum7A%3D%3D')
response = requests.get(URL)

#searchCondition=검색조건
#returnType=json (json의 형식으로 파일을 받겠다)
#첫번째 요청사항(여기서는 sidoName)만 그냥 쓰고 그 다음부터는 (&)를 앞에 붙여야 함
#데이터 Input을 넣는 과정

#### http://jsonviewer.stack.hu/ (copy json here to view json)

In [ ]:
r = response.json()
r

#데이터 Output

{'response': {'body': {'items': [{'cityName': '강남구',
     'cityNameEng': 'Gangnam-gu',
     'coValue': '0.3',
     'dataGubun': '',
     'dataTime': '2022-03-28 15:00',
     'districtCode': '02',
     'districtNumSeq': '001',
     'itemCode': '',
     'khaiValue': '',
     'no2Value': '0.017',
     'numOfRows': '10',
     'o3Value': '0.039',
     'pageNo': '1',
     'pm10Value': '21',
     'pm25Value': '8',
     'resultCode': '',
     'resultMsg': '',
     'returnType': 'json',
     'searchCondition': '',
     'serviceKey': '',
     'sidoName': '서울',
     'so2Value': '0.003',
     'totalCount': ''},
    {'cityName': '강동구',
     'cityNameEng': 'Gangdong-gu',
     'coValue': '0.3',
     'dataGubun': '',
     'dataTime': '2022-03-28 15:00',
     'districtCode': '02',
     'districtNumSeq': '002',
     'itemCode': '',
     'khaiValue': '',
     'no2Value': '0.012',
     'numOfRows': '10',
     'o3Value': '0.033',
     'pageNo': '1',
     'pm10Value': '19',
     'pm25Value': '6',
     'resultCode': '',
     'resultMsg': '',
     'returnType': 'json',
     'searchCondition': '',
     'serviceKey': '',
     'sidoName': '서울',
     'so2Value': '0.002',
     'totalCount': ''},
    {'cityName': '강북구',
     'cityNameEng': 'Gangbuk-gu',
     'coValue': '0.3',
     'dataGubun': '',
     'dataTime': '2022-03-28 15:00',
     'districtCode': '02',
     'districtNumSeq': '003',
     'itemCode': '',
     'khaiValue': '',
     'no2Value': '0.017',
     'numOfRows': '10',
     'o3Value': '0.040',
     'pageNo': '1',
     'pm10Value': '22',
     'pm25Value': '7',
     'resultCode': '',
     'resultMsg': '',
     'returnType': 'json',
     'searchCondition': '',
     'serviceKey': '',
     'sidoName': '서울',
     'so2Value': '0.002',
     'totalCount': ''},
    {'cityName': '강서구',
     'cityNameEng': 'Gangseo-gu',
     'coValue': '0.4',
     'dataGubun': '',
     'dataTime': '2022-03-28 15:00',
     'districtCode': '02',
     'districtNumSeq': '004',
     'itemCode': '',
     'khaiValue': '',
     'no2Value': '0.025',
     'numOfRows': '10',
     'o3Value': '0.038',
     'pageNo': '1',
     'pm10Value': '41',
     'pm25Value': '14',
     'resultCode': '',
     'resultMsg': '',
     'returnType': 'json',
     'searchCondition': '',
     'serviceKey': '',
     'sidoName': '서울',
     'so2Value': '0.003',
     'totalCount': ''},
    {'cityName': '관악구',
     'cityNameEng': 'Gwanak-gu',
     'coValue': '0.4',
     'dataGubun': '',
     'dataTime': '2022-03-28 15:00',
     'districtCode': '02',
     'districtNumSeq': '005',
     'itemCode': '',
     'khaiValue': '',
     'no2Value': '0.024',
     'numOfRows': '10',
     'o3Value': '0.038',
     'pageNo': '1',
     'pm10Value': '24',
     'pm25Value': '6',
     'resultCode': '',
     'resultMsg': '',
     'returnType': 'json',
     'searchCondition': '',
     'serviceKey': '',
     'sidoName': '서울',
     'so2Value': '0.003',
     'totalCount': ''},
    {'cityName': '광진구',
     'cityNameEng': 'Gwangjin-gu',
     'coValue': '0.2',
     'dataGubun': '',
     'dataTime': '2022-03-28 15:00',
     'districtCode': '02',
     'districtNumSeq': '006',
     'itemCode': '',
     'khaiValue': '',
     'no2Value': '0.014',
     'numOfRows': '10',
     'o3Value': '0.042',
     'pageNo': '1',
     'pm10Value': '18',
     'pm25Value': '7',
     'resultCode': '',
     'resultMsg': '',
     'returnType': 'json',
     'searchCondition': '',
     'serviceKey': '',
     'sidoName': '서울',
     'so2Value': '0.004',
     'totalCount': ''},
    {'cityName': '구로구',
     'cityNameEng': 'Guro-gu',
     'coValue': '0.3',
     'dataGubun': '',
     'dataTime': '2022-03-28 15:00',
     'districtCode': '02',
     'districtNumSeq': '007',
     'itemCode': '',
     'khaiValue': '',
     'no2Value': '0.021',
     'numOfRows': '10',
     'o3Value': '0.035',
     'pageNo': '1',
     'pm10Value': '32',
     'pm25Value': '10',
     'resultCode': '',
     'resultMsg': '',
     'returnType': 'json',
     'searchCondition': '',
     'serviceKey': '',
     'sidoName': '서울',
     'so2Value': '0.004',
     'totalCount': ''},
    {'cityName': '금천구',
     'cityNameEng': 'Geumcheon-gu',
     'coValue': '',
     'dataGubun': '',
     'dataTime': '2022-03-28 15:00',
     'districtCode': '02',
     'districtNumSeq': '008',
     'itemCode': '',
     'khaiValue': '',
     'no2Value': '',
     'numOfRows': '10',
     'o3Value': '',
     'pageNo': '1',
     'pm10Value': '',
     'pm25Value': '',
     'resultCode': '',
     'resultMsg': '',
     'returnType': 'json',
     'searchCondition': '',
     'serviceKey': '',
     'sidoName': '서울',
     'so2Value': '',
     'totalCount': ''},
    {'cityName': '노원구',
     'cityNameEng': 'Nowon-gu',
     'coValue': '0.3',
     'dataGubun': '',
     'dataTime': '2022-03-28 15:00',
     'districtCode': '02',
     'districtNumSeq': '009',
     'itemCode': '',
     'khaiValue': '',
     'no2Value': '0.014',
     'numOfRows': '10',
     'o3Value': '0.043',
     'pageNo': '1',
     'pm10Value': '22',
     'pm25Value': '16',
     'resultCode': '',
     'resultMsg': '',
     'returnType': 'json',
     'searchCondition': '',
     'serviceKey': '',
     'sidoName': '서울',
     'so2Value': '0.002',
     'totalCount': ''},
    {'cityName': '도봉구',
     'cityNameEng': 'Dobong-gu',
     'coValue': '0.3',
     'dataGubun': '',
     'dataTime': '2022-03-28 15:00',
     'districtCode': '02',
     'districtNumSeq': '010',
     'itemCode': '',
     'khaiValue': '',
     'no2Value': '0.014',
     'numOfRows': '10',
     'o3Value': '0.039',
     'pageNo': '1',
     'pm10Value': '18',
     'pm25Value': '7',
     'resultCode': '',
     'resultMsg': '',
     'returnType': 'json',
     'searchCondition': '',
     'serviceKey': '',
     'sidoName': '서울',
     'so2Value': '0.003',
     'totalCount': ''},
    {'cityName': '동대문구',
     'cityNameEng': 'Dongdaemun-gu',
     'coValue': '0.3',
     'dataGubun': '',
     'dataTime': '2022-03-28 15:00',
     'districtCode': '02',
     'districtNumSeq': '011',
     'itemCode': '',
     'khaiValue': '',
     'no2Value': '0.017',
     'numOfRows': '10',
     'o3Value': '0.043',
     'pageNo': '1',
     'pm10Value': '23',
     'pm25Value': '8',
     'resultCode': '',
     'resultMsg': '',
     'returnType': 'json',
     'searchCondition': '',
     'serviceKey': '',
     'sidoName': '서울',
     'so2Value': '0.002',
     'totalCount': ''},
    {'cityName': '동작구',
     'cityNameEng': 'Dongjak-gu',
     'coValue': '0.3',
     'dataGubun': '',
     'dataTime': '2022-03-28 15:00',
     'districtCode': '02',
     'districtNumSeq': '012',
     'itemCode': '',
     'khaiValue': '',
     'no2Value': '0.021',
     'numOfRows': '10',
     'o3Value': '0.039',
     'pageNo': '1',
     'pm10Value': '33',
     'pm25Value': '',
     'resultCode': '',
     'resultMsg': '',
     'returnType': 'json',
     'searchCondition': '',
     'serviceKey': '',
     'sidoName': '서울',
     'so2Value': '0.002',
     'totalCount': ''},
    {'cityName': '마포구',
     'cityNameEng': 'Mapo-gu',
     'coValue': '0.4',
     'dataGubun': '',
     'dataTime': '2022-03-28 15:00',
     'districtCode': '02',
     'districtNumSeq': '013',
     'itemCode': '',
     'khaiValue': '',
     'no2Value': '0.025',
     'numOfRows': '10',
     'o3Value': '0.042',
     'pageNo': '1',
     'pm10Value': '33',
     'pm25Value': '11',
     'resultCode': '',
     'resultMsg': '',
     'returnType': 'json',
     'searchCondition': '',
     'serviceKey': '',
     'sidoName': '서울',
     'so2Value': '0.003',
     'totalCount': ''},
    {'cityName': '서대문구',
     'cityNameEng': 'Seodaemun-gu',
     'coValue': '0.4',
     'dataGubun': '',
     'dataTime': '2022-03-28 15:00',
     'districtCode': '02',
     'districtNumSeq': '014',
     'itemCode': '',
     'khaiValue': '',
     'no2Value': '0.018',
     'numOfRows': '10',
     'o3Value': '0.040',
     'pageNo': '1',
     'pm10Value': '25',
     'pm25Value': '9',
     'resultCode': '',
     'resultMsg': '',
     'returnType': 'json',
     'searchCondition': '',
     'serviceKey': '',
     'sidoName': '서울',
     'so2Value': '0.002',
     'totalCount': ''},
    {'cityName': '서초구',
     'cityNameEng': 'Seocho-gu',
     'coValue': '0.4',
     'dataGubun': '',
     'dataTime': '2022-03-28 15:00',
     'districtCode': '02',
     'districtNumSeq': '015',
     'itemCode': '',
     'khaiValue': '',
     'no2Value': '0.017',
     'numOfRows': '10',
     'o3Value': '0.033',
     'pageNo': '1',
     'pm10Value': '29',
     'pm25Value': '6',
     'resultCode': '',
     'resultMsg': '',
     'returnType': 'json',
     'searchCondition': '',
     'serviceKey': '',
     'sidoName': '서울',
     'so2Value': '',
     'totalCount': ''},
    {'cityName': '성동구',
     'cityNameEng': 'Seongdong-gu',
     'coValue': '0.2',
     'dataGubun': '',
     'dataTime': '2022-03-28 15:00',
     'districtCode': '02',
     'districtNumSeq': '016',
     'itemCode': '',
     'khaiValue': '',
     'no2Value': '0.011',
     'numOfRows': '10',
     'o3Value': '0.030',
     'pageNo': '1',
     'pm10Value': '23',
     'pm25Value': '8',
     'resultCode': '',
     'resultMsg': '',
     'returnType': 'json',
     'searchCondition': '',
     'serviceKey': '',
     'sidoName': '서울',
     'so2Value': '0.002',
     'totalCount': ''},
    {'cityName': '성북구',
     'cityNameEng': 'Seongbuk-gu',
     'coValue': '0.3',
     'dataGubun': '',
     'dataTime': '2022-03-28 15:00',
     'districtCode': '02',
     'districtNumSeq': '017',
     'itemCode': '',
     'khaiValue': '',
     'no2Value': '0.016',
     'numOfRows': '10',
     'o3Value': '0.041',
     'pageNo': '1',
     'pm10Value': '19',
     'pm25Value': '6',
     'resultCode': '',
     'resultMsg': '',
     'returnType': 'json',
     'searchCondition': '',
     'serviceKey': '',
     'sidoName': '서울',
     'so2Value': '0.002',
     'totalCount': ''},
    {'cityName': '송파구',
     'cityNameEng': 'Songpa-gu',
     'coValue': '0.4',
     'dataGubun': '',
     'dataTime': '2022-03-28 15:00',
     'districtCode': '02',
     'districtNumSeq': '018',
     'itemCode': '',
     'khaiValue': '',
     'no2Value': '0.021',
     'numOfRows': '10',
     'o3Value': '0.042',
     'pageNo': '1',
     'pm10Value': '24',
     'pm25Value': '13',
     'resultCode': '',
     'resultMsg': '',
     'returnType': 'json',
     'searchCondition': '',
     'serviceKey': '',
     'sidoName': '서울',
     'so2Value': '0.003',
     'totalCount': ''},
    {'cityName': '양천구',
     'cityNameEng': 'Yangcheon-gu',
     'coValue': '0.4',
     'dataGubun': '',
     'dataTime': '2022-03-28 15:00',
     'districtCode': '02',
     'districtNumSeq': '019',
     'itemCode': '',
     'khaiValue': '',
     'no2Value': '0.022',
     'numOfRows': '10',
     'o3Value': '0.035',
     'pageNo': '1',
     'pm10Value': '39',
     'pm25Value': '18',
     'resultCode': '',
     'resultMsg': '',
     'returnType': 'json',
     'searchCondition': '',
     'serviceKey': '',
     'sidoName': '서울',
     'so2Value': '0.003',
     'totalCount': ''},
    {'cityName': '영등포구',
     'cityNameEng': 'Yeongdeungpo-gu',
     'coValue': '0.4',
     'dataGubun': '',
     'dataTime': '2022-03-28 15:00',
     'districtCode': '02',
     'districtNumSeq': '020',
     'itemCode': '',
     'khaiValue': '',
     'no2Value': '0.027',
     'numOfRows': '10',
     'o3Value': '0.031',
     'pageNo': '1',
     'pm10Value': '30',
     'pm25Value': '13',
     'resultCode': '',
     'resultMsg': '',
     'returnType': 'json',
     'searchCondition': '',
     'serviceKey': '',
     'sidoName': '서울',
     'so2Value': '0.003',
     'totalCount': ''},
    {'cityName': '용산구',
     'cityNameEng': 'Yongsan-gu',
     'coValue': '0.3',
     'dataGubun': '',
     'dataTime': '2022-03-28 15:00',
     'districtCode': '02',
     'districtNumSeq': '021',
     'itemCode': '',
     'khaiValue': '',
     'no2Value': '0.020',
     'numOfRows': '10',
     'o3Value': '0.033',
     'pageNo': '1',
     'pm10Value': '29',
     'pm25Value': '12',
     'resultCode': '',
     'resultMsg': '',
     'returnType': 'json',
     'searchCondition': '',
     'serviceKey': '',
     'sidoName': '서울',
     'so2Value': '0.003',
     'totalCount': ''},
    {'cityName': '은평구',
     'cityNameEng': 'Eunpyeong-gu',
     'coValue': '0.3',
     'dataGubun': '',
     'dataTime': '2022-03-28 15:00',
     'districtCode': '02',
     'districtNumSeq': '022',
     'itemCode': '',
     'khaiValue': '',
     'no2Value': '0.017',
     'numOfRows': '10',
     'o3Value': '0.040',
     'pageNo': '1',
     'pm10Value': '29',
     'pm25Value': '15',
     'resultCode': '',
     'resultMsg': '',
     'returnType': 'json',
     'searchCondition': '',
     'serviceKey': '',
     'sidoName': '서울',
     'so2Value': '0.002',
     'totalCount': ''},
    {'cityName': '종로구',
     'cityNameEng': 'Jongno-gu',
     'coValue': '0.4',
     'dataGubun': '',
     'dataTime': '2022-03-28 15:00',
     'districtCode': '02',
     'districtNumSeq': '023',
     'itemCode': '',
     'khaiValue': '',
     'no2Value': '0.018',
     'numOfRows': '10',
     'o3Value': '0.039',
     'pageNo': '1',
     'pm10Value': '24',
     'pm25Value': '11',
     'resultCode': '',
     'resultMsg': '',
     'returnType': 'json',
     'searchCondition': '',
     'serviceKey': '',
     'sidoName': '서울',
     'so2Value': '0.003',
     'totalCount': ''},
    {'cityName': '중구',
     'cityNameEng': 'Jung-gu',
     'coValue': '0.3',
     'dataGubun': '',
     'dataTime': '2022-03-28 15:00',
     'districtCode': '02',
     'districtNumSeq': '024',
     'itemCode': '',
     'khaiValue': '',
     'no2Value': '0.022',
     'numOfRows': '10',
     'o3Value': '0.039',
     'pageNo': '1',
     'pm10Value': '26',
     'pm25Value': '11',
     'resultCode': '',
     'resultMsg': '',
     'returnType': 'json',
     'searchCondition': '',
     'serviceKey': '',
     'sidoName': '서울',
     'so2Value': '0.003',
     'totalCount': ''},
    {'cityName': '중랑구',
     'cityNameEng': 'Jungnang-gu',
     'coValue': '0.3',
     'dataGubun': '',
     'dataTime': '2022-03-28 15:00',
     'districtCode': '02',
     'districtNumSeq': '025',
     'itemCode': '',
     'khaiValue': '',
     'no2Value': '0.014',
     'numOfRows': '10',
     'o3Value': '0.042',
     'pageNo': '1',
     'pm10Value': '20',
     'pm25Value': '5',
     'resultCode': '',
     'resultMsg': '',
     'returnType': 'json',
     'searchCondition': '',
     'serviceKey': '',
     'sidoName': '서울',
     'so2Value': '0.003',
     'totalCount': ''}],
   'numOfRows': 100,
   'pageNo': 1,
   'totalCount': 25},
  'header': {'resultCode': '00', 'resultMsg': 'NORMAL_CODE'}}}

In [ ]:
print(type(r))

#Output의 타입은 dict이다. 
#dict는 (key : value)의 형태로 구성
#데이터 r의 값을 얻고 싶다면 r(key)를 입력, value 값을 볼 수 있음

<class 'dict'>

In [ ]:
items = r['response']['body']['items']
items[0]

#item이 무엇이 들어있는지 보는 명령어
#여기서 item은 list의 형태로 나옴 (대괄호로 구성)
#강남구(list의 첫번째 아이템)만 보고 싶다면 items[0]을 입력

{'cityName': '강남구',
 'cityNameEng': 'Gangnam-gu',
 'coValue': '0.3',
 'dataGubun': '',
 'dataTime': '2022-03-28 15:00',
 'districtCode': '02',
 'districtNumSeq': '001',
 'itemCode': '',
 'khaiValue': '',
 'no2Value': '0.017',
 'numOfRows': '10',
 'o3Value': '0.039',
 'pageNo': '1',
 'pm10Value': '21',
 'pm25Value': '8',
 'resultCode': '',
 'resultMsg': '',
 'returnType': 'json',
 'searchCondition': '',
 'serviceKey': '',
 'sidoName': '서울',
 'so2Value': '0.003',
 'totalCount': ''}

In [ ]:
items = r['response']['body']['items']

cityName = [item['cityName'] for item in items]
pm10Value = [item['pm10Value'] for item in items]
pm25Value = [item['pm25Value'] for item in items]
so2Value = [item['so2Value'] for item in items]
coValue = [item['coValue'] for item in items]
o3Value = [item['o3Value'] for item in items]
no2Value = [item['no2Value'] for item in items]

cityName = pd.Series(cityName)
pm10Value = pd.Series(pm10Value)   
pm25Value = pd.Series(pm25Value)
so2Value = pd.Series(so2Value)
coValue = pd.Series(coValue)
o3Value = pd.Series(o3Value)
no2Value = pd.Series(no2Value)

df = pd.DataFrame({ 'cityName': cityName, 'pm10Value': pm10Value, 'pm25Value': pm25Value, 'so2Value': so2Value, 'coValue': coValue, 'o3Value': o3Value, 'no2Value': no2Value})

#pd.DataFrame에 속해 있는 구성 요소들은 df의 Column에 해당함
#pd.Series(panda의 Series 함수)를 이용하여 데이터프레임(df) 생성 가능

In [ ]:
def test(sidoName):
  URL = ('http://apis.data.go.kr/B552584/ArpltnStatsSvc/'
      'getCtprvnMesureSidoLIst?'
      'sidoName='+sidoName+
      '&searchCondition=hour'
      '&pageNo=1'
      '&numOfRows=100'
      '&returnType=json'
      '&serviceKey=miH%2BZXg85lQy4%2FkmhffvygXDIFiTwisriSLxtyECSzw6hxTVK7yI8QKIOc7mP7LEqCnhBGuj6iW1gZW65dum7A%3D%3D')
  
  response = requests.get(URL)
  r = response.json()
  items = r['response']['body']['items']

  cityName = [item['cityName'] for item in items] #list comprehension 이용
                                                  #for loop를 통하여 25번 돌아감, 'cityname' 중 강남구에 해당하는 것들 선별
                                                  #마우스를 list의 items에 올려놓으면 항목 갯수 등 확인 가능
  pm10Value = [item['pm10Value'] for item in items]
  pm25Value = [item['pm25Value'] for item in items]
  so2Value = [item['so2Value'] for item in items]
  coValue = [item['coValue'] for item in items]
  o3Value = [item['o3Value'] for item in items]
  no2Value = [item['no2Value'] for item in items]

  cityName = pd.Series(cityName)
  pm10Value = pd.Series(pm10Value)   
  pm25Value = pd.Series(pm25Value)
  so2Value = pd.Series(so2Value)
  coValue = pd.Series(coValue)
  o3Value = pd.Series(o3Value)
  no2Value = pd.Series(no2Value)

  df = pd.DataFrame({ 'cityName': cityName, 'pm10Value': pm10Value, 'pm25Value': pm25Value, 'so2Value': so2Value, 'coValue': coValue, 'o3Value': o3Value, 'no2Value': no2Value})
  return df

In [ ]:
df

#완성된 df 표기

   cityName pm10Value pm25Value so2Value coValue o3Value no2Value
0       강남구        21         8    0.003     0.3   0.039    0.017
1       강동구        19         6    0.002     0.3   0.033    0.012
2       강북구        22         7    0.002     0.3   0.040    0.017
3       강서구        41        14    0.003     0.4   0.038    0.025
4       관악구        24         6    0.003     0.4   0.038    0.024
5       광진구        18         7    0.004     0.2   0.042    0.014
6       구로구        32        10    0.004     0.3   0.035    0.021
7       금천구
8       노원구        22        16    0.002     0.3   0.043    0.014
9       도봉구        18         7    0.003     0.3   0.039    0.014
10     동대문구        23         8    0.002     0.3   0.043    0.017
11      동작구        33              0.002     0.3   0.039    0.021
12      마포구        33        11    0.003     0.4   0.042    0.025
13     서대문구        25         9    0.002     0.4   0.040    0.018
14      서초구        29         6              0.4   0.033    0.017
15      성동구        23         8    0.002     0.2   0.030    0.011
16      성북구        19         6    0.002     0.3   0.041    0.016
17      송파구        24        13    0.003     0.4   0.042    0.021
18      양천구        39        18    0.003     0.4   0.035    0.022
19     영등포구        30        13    0.003     0.4   0.031    0.027
20      용산구        29        12    0.003     0.3   0.033    0.020
21      은평구        29        15    0.002     0.3   0.040    0.017
22      종로구        24        11    0.003     0.4   0.039    0.018
23       중구        26        11    0.003     0.3   0.039    0.022
24      중랑구        20         5    0.003     0.3   0.042    0.014

In [ ]:
iface = gr.Interface(test, gr.inputs.Dropdown(['서울', '부산', '대구', '인천', '광주', '대전', '울산', '경기', '강원', '충북', '충남', '전북', '전남', '경북', '경남', '제주', '세종']), outputs=['dataframe'])
iface.launch(debug=True)

#완성된 df를 gradio로 표시
#gradio로 데이터를 보내기 전에 먼저 gradio를 import 해야 함(첫번째 셀 참조)

Colab notebook detected. This cell will run indefinitely so that you can see errors and logs. To turn off, set debug=False in launch().
Running on public URL: https://40963.gradio.app

This share link expires in 72 hours. For free permanent hosting, check out Spaces (https://huggingface.co/spaces)